# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env
.env.*

# SSH keys
*.pem
*.key
id_rsa
id_rsa.pub

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Python
__pycache__/
*.pyc

# Node
node_modules/
